<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbwpihaU60ZMw7XWwpRT7uIl6Lqwe5aeY</string>
	<key>GCM_SENDER_ID</key>
	<string>690040583990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bontas.homear</string>
	<key>PROJECT_ID</key>
	<string>my-dissertation-e0e51</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dissertation-e0e51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690040583990:ios:00010783740138b5e7e597</string>
</dict>
</plist>